apiVersion: 1

providers:
  - name: 'Mailu Dashboards'
    orgId: 1
    folder: 'Mailu'
    folderUid: 'mailu'
    type: file
    disableDeletion: true
    updateIntervalSeconds: 60
    allowUiUpdates: false
    options:
      path: /etc/grafana/provisioning/dashboards/json
      foldersFromFilesStructure: false